<html th:fragment="layout(content, title)" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{components/head :: head(title)}"></head>
<body>
<aside class="mipt-layout">
    <div class="mipt-sidebar">
        <div class="mipt-sidebar-links">
            <a th:replace="~{components/link :: link('/users', 'Users')}"></a>
            <a th:replace="~{components/link :: link('/createUser', 'Create user')}"></a>
        </div>
        <form th:action="@{/logout}" method="post">
            <input class="input" type="submit" value="Sign Out"/>
        </form>
    </div>

    <div class="mipt-content">
        <h1 th:text="${title}"></h1>
        <div th:replace="${content}"></div>
    </div>
</aside>
</body>
</html>
